@font-face
{
    font-family: clean;
    src: url(../fonts/clean.ttf);
}

*
{
	margin: 0;
	padding: 0;
}

body
{
    background-color: black;
}

#wrapper
{
    max-width: 1200px;
    margin: 0 auto;
}

img
{
    display: block;
    max-width: 100%;
    height: auto;
    width: auto;
    margin-bottom: -4%;
}

.one-third
{
    width: 29%;
    float: left;
    margin: 1%;
}

img:hover
{
    opacity: .8;
}

@media screen and (max-width: 768px)
{
    .one-third
    {
        width: 48%;
        margin: 1%;
    }
}

@media screen and (max-width: 480px)
{
    .one-third
    {
        width: 98%;
        margin: 1%;
    }
}

/*///////////////////////////////////////*/
/*//Animation keyframes for snow effect//*/
/*///////////////////////////////////////*/
@-webkit-keyframes snow 
{
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    50% { }
    100% { background-position: 500px 1000px, 400px 400px, 300px 300px;}
}
@-moz-keyframes snow 
{
    0% { background-position: 0px 0px, 0px 0px, 0px 0px       }
    50% { }
    100% { background-position: 500px 1000px, 400px 400px, 300px 300px;}
}
@-ms-keyframes snow 
{
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    50% { }
    100% {background-position: 500px 1000px, 400px 400px, 300px 300px;
}
@keyframes snow
{
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    50% { }
    100% { background-position: 500px 1000px, 400px 400px, 300px 300px;}
}
