@font-face
{
    font-family: clean;
    src: url(../fonts/clean.ttf);
}
html, body
{
	margin: 0;
	padding: 0;
	height: 100%;
    width: 100%;
}

.mainPage
{
    position: absolute;
    height: 100%;
    width:100%;
    margin: auto;
    top: 0;
    background-size: cover;
    background-image:url('../img/snow1.png'), url('.../img/snow2.png'),                     url('.../img/snow3.png');
    background-color: #000000;
    -webkit-animation: snow 20s linear infinite;
    -moz-animation: snow 20s linear infinite;
    -ms-animation: snow 20s linear infinite;
    animation: snow 20s linear infinite;
}

.mainPage .inner
{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

.content
{
    
    max-width: 500px;
    margin-top: 0;
    text-align: center;
}

.content h1
{
    font-family: clean; /*CUSTOM FONT-FAMILY*/
    color: #C3D7DF;
    font-weight: 300;
    opacity: 1;
    font-size:450%;
}


/*///////////////////////////////////////*/
/*// Navigation Styles                   */
/*///////////////////////////////////////*/
.navBar
{
    font-size: 100%;
    line-height: 1;
    top: 50%;
    left: 50%;
    margin: 0;
    text-decoration: none;
    color: #fff;
}
nav ul li
{
    font-family:clean;
	font-size: 2.5em;
	display: inline-block;
	padding: 10px;
}
nav ul li a
{
    color: #ffffff;
    text-decoration: none;
     opacity: 0.5;
}
nav ul li a:hover
{
    color: #C3D7DF;
    opacity: 1; 
    padding-bottom: 3px;
    border-bottom: 1px solid #ffffff;
}



/*///////////////////////////////////////*/
/*//Animation keyframes for snow effect//*/
/*///////////////////////////////////////*/
@-webkit-keyframes snow 
{
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    50% { }
    100% { background-position: 500px 1000px, 400px 400px, 300px 300px;}
}
@-moz-keyframes snow 
{
    0% { background-position: 0px 0px, 0px 0px, 0px 0px       }
    50% { }
    100% { background-position: 500px 1000px, 400px 400px, 300px 300px;}
}
@-ms-keyframes snow 
{
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    50% { }
    100% {background-position: 500px 1000px, 400px 400px, 300px 300px;
}
@keyframes snow
{
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    50% { }
    100% { background-position: 500px 1000px, 400px 400px, 300px 300px;}
}
