@font-face
{
    font-family: clean;
    src: url(../fonts/clean.ttf);
}

*
{
	margin: 0;
	padding: 0;
	border: 0;
}

body
{
    font-family: clean;
    line-height: 190%;
    text-align: center;
}

header
{
    height: 86px;
    position: fixed;
    z-index: 1000;
    width: 100%;
}

#header-inner
{
    max-width: 1200px;
    margin: 0 auto;
}

h1
{
    float: left;
    padding: 35px 20px  0; 
    font-size: 350%;
    
}

nav
{
    float: right;
    padding: 45px 20px 0 0;
    
}

ul
{
    list-style: none;
}

nav ul li
{
    display: inline-block;
    padding 10px;
    float: left;
    font-size: 190%;
}

nav ul li a
{
    text-decoration: none;
     opacity: 0.5;
}
nav ul li a:hover
{
    color: #C3D7DF;
    opacity: 1; 
    padding-bottom: 3px;
    border-bottom: 1px solid #ffffff;
}


/*///////////////////////////////////////*/
/*//Animation keyframes for snow effect//*/
/*///////////////////////////////////////*/
@-webkit-keyframes snow 
{
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    50% { }
    100% { background-position: 500px 1000px, 400px 400px, 300px 300px;}
}
@-moz-keyframes snow 
{
    0% { background-position: 0px 0px, 0px 0px, 0px 0px       }
    50% { }
    100% { background-position: 500px 1000px, 400px 400px, 300px 300px;}
}
@-ms-keyframes snow 
{
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    50% { }
    100% {background-position: 500px 1000px, 400px 400px, 300px 300px;
}
@keyframes snow
{
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    50% { }
    100% { background-position: 500px 1000px, 400px 400px, 300px 300px;}
}
